# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/ProjetoLP3TutorialWeb/nbproject/private/
/ProjetoLP3Tutorial/nbproject/private/
/ProjetoLP3Tutorial/build/
/ProjetoLP3TutorialWeb/build/
/ProjetoLP3Tutorial/dist/